[Desktop Entry]
Categories=Utility;Network
Comment[en_US]=
Comment=
Exec=/opt/NetRC/NetRC -platform xcb
GenericName[en_US]=NetRC
GenericName=NetRC
Icon=/opt/NetRC/NetRC.png
MimeType=
Name[en_US]=NetRC
Name=NetRC
Path=/opt/NetRC
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
